/admin.*
/transfer.*
/transfer
/workspaces.*
/workspaces

/admin/provisioning/bin.*
/admin/provisioning/bin/*.gist.d
/admin/provisioning/bin/*.spin-up.sh
/admin/provisioning/bin/docker.install.sh
/admin/provisioning/logs.*
/admin/provisioning/logs
/admin/provisioning/conf.*

.all.*
.sb.*

*.tar.gz
*.tar.xz
*.tgz
*.txz
*.zip

*.swp
*~

